@model List<KidsClothes.Core.Models.StaticContentDetail>


    <div class="col-lg-6">
        <div class="cta-wrapper text-center">
            <h3 class="cta-title mb-2">نظرات مشتریان</h3><!-- End .cta-title -->

            <div class="owl-carousel owl-simple owl-testimonials" data-toggle="owl"
                 data-owl-options='{
                                        "nav": false,
                                        "dots": true,
                                        "margin": 20,
                                        "loop": true,
                                        "rtl": true,
                            "responsive": {
                                            "1500": {
                                                "nav": true
                                            }
                                        }
                                    }'>
                <blockquote class="testimonial testimonial-icon text-center">
                    <p class="text-center" dir="rtl">
                        “ لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                        لورم
                        ایپسوم متن ساختگی با
                        تولید سادگی نامفهوم ”
                    </p>

                    <cite>
                        رضا کریمی
                        <span>مشتری</span>
                    </cite>
                </blockquote><!-- End .testimonial -->

                <blockquote class="testimonial testimonial-icon text-center">
                    <p class="text-center" dir="rtl">
                        “ لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                        لورم
                        ایپسوم متن ساختگی با
                        تولید سادگی نامفهوم ”
                    </p>

                    <cite>
                        نرگس معصومی
                        <span>مشتری</span>
                    </cite>
                </blockquote><!-- End .testimonial -->

                <blockquote class="testimonial testimonial-icon text-center">
                    <p class="text-center" dir="rtl">
                        “ لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                        لورم
                        ایپسوم متن ساختگی با
                        تولید سادگی نامفهوم ”
                    </p>

                    <cite>
                        علی رفیعی
                        <span>مشتری</span>
                    </cite>
                </blockquote><!-- End .testimonial -->
            </div><!-- End .testimonials-slider owl-carousel -->
        </div><!-- End .cta-wrapper -->
    </div><!-- End .col-lg-6 -->