@model  List<KidsClothes.Core.Models.Partner>


    <div class="container brands">

        <div class="d-flex justify-content-center mb-5">
            <h3><b>برند های معروفی که با ما همکاری می کنند</b></h3>
        </div>

        <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow owl-centered" data-toggle="owl"
             data-owl-options='{
                    "nav": false,
                    "dots": true,
                    "margin": 20,
                    "loop": true,
                    "rtl": true,
                "responsive": {
                        "0": {
                            "items":2
                        },
                        "480": {
                            "items":2
                        },
                        "768": {
                            "items":3
                        },
                        "992": {
                            "items":4
                        },
                        "1200": {
                            "items":5,
                            "nav": true,
                            "dots": false
                        }
                    }
                }'>
            @foreach (var item in Model)
            {
                <div class="d-flex justify-content-center">
                    <a href="#" class="brand">
                        <img src="~/Files/PartnersImages/@item.Image" alt="@item.Title">
                    </a>
                </div><!-- End .col-md-3 -->
            }
            @*<div>
                <a href="#" class="brand">
                    <img src="/Content/client/assets/images/brands/2.png" alt="نام برند">
                </a>
            </div> End .col-md-3*@ 
        </div><!-- End .owl-carousel -->
    </div>