@model List<KidsClothes.Core.Models.ArticleTag>

<div class="widget">
    <h3 class="widget-title">برچسب ها</h3><!-- End .widget-title -->

    <div class="tagcloud">
        <a href="#">مد</a>
        <a href="#">استایل</a>
        <a href="#">بچگانه</a>
        <a href="#">عکس</a>
        <a href="#">سفر</a>
        <a href="#">خرید</a>
        <a href="#">سرگرمی</a>
    </div><!-- End .tagcloud -->
</div><!-- End .widget -->




@*<div class="widget">
    <h3 class="widget-title">برچسب ها</h3><!-- End .widget-title -->

    <div class="tagcloud">
        @for (int i = 0; i < Model.Count(); i++)
        {
            <a href="/Blog?searchString=@Model[i].Title.Replace(" ", "+")">@Model[i].Title</a>
        }
    </div><!-- End .tagcloud -->
</div><!-- End .widget -->*@
